@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "LayoutWithShowcase.cshtml";
}

@await Html.PartialAsync("_BrandSection")

 <section class="features">
        <div class="container">
            <div class="accounting">
                <div class="category">@Model.Value("serviceCategoryTitle")</div>
                <div class="feature-title">@Model.Value("serviceHeadTitle")</div>
                <a class="button btn-theme" href="@Model.Value("serviceButtonUrl")">@Model.Value("serviceButtonText") <i class="fa-regular fa-arrow-up-right"></i></a>
            </div>
            <div class="consult-options">
                @Html.GetBlockListHtml(Model.ServiceFeatures)
            </div>  
        </div>
</section>

<section class="about">
        <div class="container">
            <div class="founder-img">
                <img src="@Model.Value("aboutImage")" alt="">
            </div>
            <div class="about-company">
                <div class="category">About Company</div>
                <div class="feature-title">We Are Business Consulting & Credit Repair Experts</div>
                <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam officiis quas assumenda esse obcaecati? Ex esse error voluptates iure vel totam eos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis esse quasi incidunt adipisci accusantium libero provident voluptate amet.</div>
                <div class="buttons">
                    <button class="btn-dark">Learn More <i class="fa-regular fa-arrow-up-right"></i> </button>
                    <div><button class="circle-play"><i class="fa-solid fa-play"></i></button> Intro Video</div>

                </div>
            </div>
        </div>
    </section>

    <section class="services">
        <div class="container">
            <div class="category">Our Services</div>
            <div class="title">We Provide The Best Service For Consulting</div>
            <div class="row">
                <div class="card col-lg-3">
                    <div class="card-title"> Business Advice</div>
                    <div class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</div>
                    <div class="circle-button">
                        <button class="btn-dark"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="card col">
                    <div class="card-title">Startup Business</div>
                    <div class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</div>
                    <div class="circle-button">
                        <button class="btn-dark"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="card col">
                    <div class="card-title"> Financial Advice</div>
                    <div class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</div>
                    <div class="circle-button">
                        <button class="btn-dark"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="card col">
                    <div class="card-title">Risk Management</div>
                    <div class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis in nam possimus.</div>
                    <div class="circle-button">
                        <button class="btn-dark"><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                    
                </div>
            </div>
            <div class="browse-button">
                <button>Browse Services <i class="fa-regular fa-arrow-up-right"></i></button>
            </div>
            

        </div>
    </section>

    <section class="choose-us">
        <div class="container">
            <div class="text-side">
                <div class="category">Why Choose Us</div>
                <div class="main-title">Why We Are The Best Business Consulting Agency</div>
                <div class="reasons">
                    <div class="reason">
                        <img src="images/Group 1000004862.png">
                        <div class="text-part">
                            <div class="title">Process Excellence</div>
                            <div class="description">Lorem, ipsum dolor sit amet consectetur.</div>
                        </div>
                    </div>

                    <div class="reason">
                        <img src="images/Strategicplanning.png">
                        <div class="text-part">
                            <div class="title">Strategic Planning</div>
                            <div class="description">Lorem, ipsum dolor sit amet consectetur.</div>
                        </div>
                    </div>

                    <div class="reason">
                        <img src="images/Experiencedesign.png">
                        <div class="text-part">
                            <div class="title">Experienced Design</div>
                            <div class="description">Lorem, ipsum dolor sit amet consectetur.</div>
                        </div>
                    </div>

                    <div class="reason">
                        <img src="images/ArtificialIntelligence.png">
                        <div class="text-part">
                            <div class="title">Artificial Intelligence</div>
                            <div class="description">Lorem, ipsum dolor sit amet consectetur.</div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="consult-img">
                <img src="images/DiscussionImage.svg" alt="">
                <div class="background-box"></div>

            </div>

        </div>
    </section>

    <section class="projects">
        <div class="container">
            <div class="project-title">
                <div class="category">Project & Case Studies</div>
                <div class="title">Let's Look At Our Global Projects</div>
            </div>
            <div class="row">
                <div class="case-card col-lg-5">
                    <img src="images/BusinessImage.svg" alt="">
                    <div class="card-title">Grow your business</div>
                    <div class="card-button">
                        <button class="btn">Read More <i class="fa-regular fa-arrow-up-right"></i> </button>
                    </div>
                </div>
                <div class="case-card col-lg-5">
                    <img src="images/ResponsiveImage.svg" alt="">
                    <div class="card-title">Grow your business</div>
                    <div class="card-button">
                        <button class="btn">Read More <i class="fa-regular fa-arrow-up-right"></i> </button>
                    </div>

                </div>
                <div class="case-card col-lg-5">
                    <img src="images/NotebookImage.svg" alt="">
                    <div class="card-title">Grow your business</div>
                    <div class="card-button">
                        <button class="btn">Read More <i class="fa-regular fa-arrow-up-right"></i> </button>
                    </div>

                </div>
                <div class="case-card col-lg-5">
                    <img src="images/LaptopImage.svg" alt="">
                    <div class="card-title">Grow your business</div>
                    <div class="card-button">
                        <button class="btn">Read More <i class="fa-regular fa-arrow-up-right"></i> </button>
                    </div>

                </div>
            </div>
            <div class="project-button">
                <button class="btn-dark">All Recent Projects <i class="fa-regular fa-arrow-up-right"></i></button>
            </div>

        </div>
    </section>

    <section class="our-team">
        <div class="container">
            <div class="team-title">
                <div class="category">Meet Our Team</div>
                <div class="title-divide">
                    <div class="title">Experienced Team Members</div>
                    <button class="btn-theme">Browse Teams <i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="team-members">
                <div class="member">
                    <img src="images/KristineImage.png" alt="">
                    <div class="name-title">Kristina Palmer</div>
                    <div class="position">Chief Operation Officer</div>
                </div>
                <div class="member">
                    <img src="images/MarkImage.png" alt="">
                    <div class="name-title">Mark Aubri</div>
                    <div class="position">Senior Consultant</div>
                </div>
                <div class="member">
                    <img src="images/KimberlyImage.png" alt="">
                    <div class="name-title">Kimberly Hansen</div>
                    <div class="position">Senior Consultant</div>
                </div>
                <div class="member">
                    <img src="images/JustinImage.png" alt="">
                    <div class="name-title">Justin Willoman</div>
                    <div class="position">Senior Tech Consultant</div>
                </div>
            </div>
            <div class="slider">
                <img src="images/dot.png" alt="">
            </div>
        </div>
    </section>

    <section class="testimonial">
        <div class="container">
            <div class="top-text">
                <div class="category">Testimonial</div>
                <div class="testimonial-title">What Our Client Says</div>
            </div>
            <div class="reviews row">
                <div class="client-review col">
                    <div class="star-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="review-content">
                        "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"
                    </div>
                    <div class="client-info ">
                        <img src="images/ClientImg1.svg" alt="">
                        <div class="client">
                            <div class="client-name">Cassandra Warren</div>
                            <div class="client-title">Business Manager, Dorfus</div>
                        </div>
                    </div>
                </div>
                <div class="client-review col">
                    <div class="star-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="review-content">
                        "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"
                    </div>
                    <div class="client-info ">
                        <img src="images/ClientImg2.svg" alt="">
                        <div class="client">
                            <div class="client-name">Amanda Tulling</div>
                            <div class="client-title">Senior Developer, Square</div>
                        </div>
                    </div>
                </div>
                <div class="client-review col">
                    <div class="star-rating">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="review-content">
                        "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"
                    </div>
                    <div class="client-info ">
                        <img src="images/ClientImg3.svg" alt="">
                        <div class="client">
                            <div class="client-name">Jack McDonald</div>
                            <div class="client-title">Key Account Manager, Gobona</div>
                        </div>
                    </div>
                </div>
                
                
                <div class="testimonial-btn">
                    <button class="btn-dark">All Reviews</button>
                </div>
            </div>

        </div>
    </section>


    <section class="news">
        <div class="container">
            <div class="article-title">
                <div class="category">Articles & News</div>
                <div class="title-divide">
                    <div class="title">Get Every Single Article & News</div>
                    <button class="btn-outline-white">Browse Articles <i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="news-articles">
                <div class="article">
                    <img src="images/DigitalizationImage.svg" alt="">
                    <div class="news-category">Business</div>
                    <div class="news-title">How To Use Digitalization In The Classroom</div>
                    <div class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</div>
                </div>
                <div class="article">
                    <img src="images/ChatGPTImage.svg" alt="">
                    <div class="news-category">Business</div>
                    <div class="news-title">How To Implement Chat GPT In Your Projects</div>
                    <div class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</div>
                </div>
                <div class="article">
                    <img src="images/ModernCSSImage.svg" alt="">
                    <div class="news-category">Business</div>
                    <div class="news-title">The Guide To Support Modern CSS Design</div>
                    <div class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.</div>
                </div>
                
            </div>
            <div class="slider">
                <img src="images/dot.png" alt="">
            </div>
        </div>
    </section>

    <section class="subscribe-now">
        <div class="container">
            <div class="subscribe">
                <p>Get News Updates By Sign Up</p>
                <form id="subscribeForm">
                    <input id="subscriptionEmail" type="email" placeholder="Enter email address">
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
      </section>